@use "@/styles/main.module.scss" as *;
.pages {
  display: flex;
  flex-direction: column;
  max-width: 1800px;
  margin: 0 auto;
  height: calc(100% - 64px);
  padding-top: 2rem;
  @include up("md") {
    height: 100%;
    flex-direction: row;
  }
}
.pages main {
  padding: 1rem;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 3rem;
  h1 {
    margin: 0;
  }
}
