@use "./main.module.scss" as *;

main {
  max-width: 100vw;
  // overflow: hidden;
}
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

::selection {
  // color: $dark;
  // background: $yellow;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  color:black 
}

html {
  // font-family: var(--font-inter);
  font-weight: 200;
  font-size: 0.8vw;
  font-size: clamp(14px, 0.8vw, 18px);
  user-select: text;
}

body {
  // margin: 0 auto;
}

.radix-themes {
  --default-font-family: var(--font-inter); /* Your custom default font */
  --heading-font-family: var(--font-wix) /* Your custom font for <Heading> components */
  --code-font-family:    var(--font-inter); /* Your custom font for <Code> components */
  --strong-font-family:  var(--font-inter); /* Your custom font for <Strong> components */
  --em-font-family:      var(--font-inter); /* Your custom font for <Em> components */
  --quote-font-family:   var(--font-wix)/* Your custom font for <Quote> components */
}

.radix-themes {
  --font-weight-light: 200;
  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 800;
}


h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-wix);
  // margin: 0.2em 0;
}

h1 {
  font-weight: 400;
  line-height: 0.8em;
  font-size: 3rem;

  @include up("md") {
    font-size: 3.8rem;
  }
  @include up("lg") {
    font-size: 3.75rem;
  }
}
h3 {
  font-size: 1.5rem;
  line-height: 1em;
  font-weight: 500;
}
.overtitle {
  font-size: 0.8rem;
}
p {
  line-height: 1.5em;
  margin: 0.2em 0;
}
a {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  color: inherit;
}

// OCULTAR CAPTCHA
.grecaptcha-badge {
  visibility: hidden;
}

// RADIX CUSTOM COLOR


@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --blue-1: oklch(99.3% 0.004 239.4);
      --blue-2: oklch(98.2% 0.01 239.4);
      --blue-3: oklch(96% 0.022 239.4);
      --blue-4: oklch(93.7% 0.033 239.4);
      --blue-5: oklch(90.6% 0.033 239.4);
      --blue-6: oklch(86.4% 0.033 239.4);
      --blue-7: oklch(80.9% 0.033 239.4);
      --blue-8: oklch(73.5% 0.033 239.4);
      --blue-9: oklch(64.9% 0.033 239.4);
      --blue-10: oklch(60.9% 0.033 239.4);
      --blue-11: oklch(55.8% 0.033 239.4);
      --blue-12: oklch(32.4% 0.033 239.4);

      --blue-a1: color(display-p3 0.024 0.514 1 / 0.016);
      --blue-a2: color(display-p3 0.02 0.557 0.914 / 0.044);
      --blue-a3: color(display-p3 0.012 0.529 0.961 / 0.091);
      --blue-a4: color(display-p3 0.008 0.506 0.918 / 0.142);
      --blue-a5: color(display-p3 0.004 0.396 0.722 / 0.181);
      --blue-a6: color(display-p3 0.004 0.29 0.545 / 0.232);
      --blue-a7: color(display-p3 0.004 0.224 0.416 / 0.302);
      --blue-a8: color(display-p3 0.004 0.173 0.314 / 0.393);
      --blue-a9: color(display-p3 0.004 0.129 0.239 / 0.495);
      --blue-a10: color(display-p3 0 0.11 0.212 / 0.538);
      --blue-a11: color(display-p3 0 0.098 0.192 / 0.597);
      --blue-a12: color(display-p3 0 0.067 0.122 / 0.844);

      --blue-contrast: #fff;
      --blue-surface: color(display-p3 0.953 0.976 1 / 0.8);
      --blue-indicator: oklch(64.9% 0.033 239.4);
      --blue-track: oklch(64.9% 0.033 239.4);
    }
  }
}
