@use '@/styles/main.module.scss' as *;
.blogTemplate {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
}
.header {
  display: flex;
  // flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  background: #eef3f7;
  border-radius: 1rem;

  @include down('md') {
    flex-direction: column;
    padding: 0.5rem;
  }
  .picture {
    flex: 0 0 480px;
    max-width: 480px;
    background: url('/no-image.webp') no-repeat center;
    background-size: 100%;
    aspect-ratio: 1 / 1;
    @include down('md') {
      flex: 0 1 100%;
    }

    picture {
      // max-width: min(100%, 600px);
      img {
        width: min(480px, 100%);
        object-fit: cover;
        border-radius: 0.75rem;
        aspect-ratio: 1 / 1;
        vertical-align: middle;
      }
    }
  }
  .headerContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-end;
    position: relative;

    h1 {
      margin-bottom: 0rem;
      font-size: 2.4rem;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 1.1em;
      @include down('lg') {
        font-size: 1.6rem;
      }
    }
    h2 {
      font-size: 2rem;
      line-height: 1.2em;
      font-weight: 400;
      @include down('lg') {
        font-size: 1.3rem;
      }
    }
    .tagCategory {
      margin: 0.5rem 0;
      display: flex;
      gap: 0.5rem;
      z-index: 1;
      font-size: 0.7rem;
      transition: opacity 0.3s ease;
      span {
        display: block;
        border-radius: 6rem;
        padding: 0.1em 0.6em 0.15em 0.6em;
        background: #000000;
        color: #ffffff;
      }
    }
    .calendar {
      margin: 1rem 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem 0.5rem;
      & > span {
        align-items: center;
        font-size: 1rem;
        display: flex;

        gap: 0.3rem;
        @media (width < 767px) {
          // width: 100%;
        }
        img {
          width: 17px;
        }
      }
      .day {
        display: flex;
        align-content: center;
        border-radius: 0.8rem;
        // width: fit-content;
        padding: 0.05rem 0.5rem 0.15rem 0.5rem;
        color: white;
        &.past {
          background: #000000;
        }
        &.future {
          background: #c20a0a;
        }
      }
      .hour {
        background: #00000013;
        border-radius: 0.8rem;

        padding: 0.05rem 0.5rem 0.15rem 0.5rem;
        img {
          fill: white;
        }
      }
      .map {
        img {
          position: relative;
          top: 2px;
        }
        border-radius: 0.8rem;
        gap: 0.2rem;
        align-items: flex-start;
        a {
          text-decoration: none;
          // display: flex;
          align-content: center;
          gap: 1rem;
          span {
            text-transform: uppercase;
            font-weight: 600;
            text-decoration: underline;
            white-space: nowrap;
            border-radius: 0.8rem;
            margin-left: 0.5rem;
            font-size: 0.8rem;
          }
        }
      }
    }
    .meta {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
      @include down('lg') {
        margin: 0.2rem 0.2rem;
      }
      span {
        gap: 0.1rem;
        display: flex;
        align-items: center;
        font-size: 0.7rem;
        border-radius: 0.2rem;
        padding: 0;
        color: #4d4d4d;
      }
    }
  }
}

.content {
  margin-top: 0rem;
  // padding: 0 1rem;s
  width: 100%;
  max-width: calc(700px + 3rem);

  img {
    // height: 400px;
    width: 100%;
    object-fit: cover;
    margin: 1.2rem 0 0rem 0;
  }
  figcaption {
    font-size: 0.8rem;
    // opacity: 0.8;
    font-style: italic;
    display: block;
    margin-bottom: 2rem;
    text-align: end;
  }

  .youtube {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    margin: 1.2rem 0;
  }

  h3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2em;
    margin: 2.2em 0 1em 0;
    &:first-of-type {
      margin-top: 0;
    }
    @media (width< 768px) {
      font-size: 1.5rem;
    }
  }
  h4 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2em;
    margin-bottom: 1em;
    margin-top: 2em;
  }
  h5 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 1em;
    margin-top: 2em;
  }
  h6 {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 1em;
    margin-top: 3em;
  }
  p {
    line-height: 1.5em;
    margin: 1.2rem 0;
    // margin: 1.1em 0;
  }
  strong {
    font-weight: 600;
  }
  ul,
  ol {
    padding: 1em;
  }
  blockquote p {
    font-family: var(--font-wix);
    display: block;
    position: relative;
    margin: 2.5em 2.5em 2.5em 2.5em;
    margin-left: 4rem;
    font-size: 1.8rem;
    line-height: 1.1em;
    @include down('md') {
      margin: 2.5em 1em 2.5em 1em;
      font-size: 1.5rem;
    }
  }
  blockquote p::before {
    position: absolute;
    left: -4rem;
    top: -0.8rem;
    display: inline-block;
    content: 'â€';
    font-size: 8rem;
    line-height: 1em;
    color: skyblue;
    @include down('md') {
      left: -2rem;
      top: -0.4rem;
      font-size: 5rem;
    }
    i {
      font-size: 1rem;
      display: block;
    }
  }

  table {
    margin: 1rem 0;
    border-collapse: collapse;
    width: 100%;
    th {
      font-size: 1rem;
      text-align: left;
      border-collapse: collapse;
      padding: 0.5em;
      border: 1px solid #d4d4d4;
    }
    td {
      font-size: 0.9rem;
      text-align: left;
      border-collapse: collapse;
      padding: 0.5em;
      border: 1px solid #d4d4d4;
      vertical-align: top;
    }
  }
}
