@use "@/styles/main.module.scss" as *;
.blogTemplate {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  // max-width: 1100px;
  align-items: center;
  // padding: 0 1rem;
  // background: red;
}
.header {
  display: flex;
  // flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
  padding: 1rem;
  background: #eef3f7;
  border-radius: 2rem;

  @include down("lg") {
    flex-direction: column;
    padding: 1rem;
  }
  .picture {
    flex: 0 0 480px;
    max-width: 480px;
    background: url("/no-image.webp") no-repeat center;
    background-size: 100%;
    border-radius: 1rem;
    aspect-ratio: 1 / 1;
    @include down("md") {
      flex: 0 1 100%;
    }

    picture {
      // max-width: min(100%, 600px);
      img {
        width: min(480px, 100%);
        object-fit: cover;
        border-radius: 1rem;
        aspect-ratio: 1 / 1;
        vertical-align: middle;
      }
    }
  }
  .headerContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-end;
    position: relative;
    padding-right: 2rem;
    h1 {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 1.1em;
      @include down("lg") {
        font-size: 2.5rem;
      }
    }
    h2 {
      font-size: 2rem;
      line-height: 1em;
      font-weight: 400;
      @include down("lg") {
        font-size: 2rem;
      }
    }
    .meta {
      display: flex;
      align-items: center;
      gap: 1rem;
      @include down("lg") {
        margin-bottom: 01rem;
      }
      span {
        gap: 0.4rem;
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        opacity: 0.5;
        // background: red;
        border-radius: 0.2rem;
        padding: 0em 0.4em;
      }
      img {
        opacity: 0.5;
      }
    }
  }
}

.content {
  margin-top: 2rem;

  padding: 0 1.5rem;
  width: 100%;
  max-width: calc(700px + 3rem);
  img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    margin: 1.2rem 0;
  }
  .youtube {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    margin: 1.2rem 0;
  }

  h3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2em;
    margin: 2.2em 0 1em 0;
    &:first-of-type {
      margin-top: 0;
    }
  }
  h4 {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 1em;
  }
  h5 {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 1em;
  }
  p {
    line-height: 1.5em;
    margin: 1.2rem 0;
    // margin: 1.1em 0;
  }

  ul,
  ol {
    padding: 1em;
  }
  blockquote {
    font-family: var(--font-wix);
    display: block;
    position: relative;
    margin: 2.5em 2.5em 2.5em 2.5em;
    margin-left: 4rem;

    font-size: 1.8rem;
    line-height: 1.1em;
  }
  blockquote::before {
    position: absolute;
    left: -4rem;
    top: -0.8rem;
    display: inline-block;
    content: "”";
    font-size: 8rem;
    line-height: 1em;
    color: skyblue;
  }
  em {
    font-size: 1rem;
    display: block;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    td,
    th {
      border-collapse: collapse;
      padding: 0.5em;
      border: 1px solid #d4d4d4;
    }
  }
}
