@use "@/styles/main.module.scss" as *;
.header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 99;
  border-bottom: 1px solid var(--gray-3);

  & > div {
    @include up("md") {
      padding: 0rem 3rem;
    }
    margin: 0 auto;
    height: 64px;
    padding: 0rem 1rem;
    max-width: 1800px;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    // box-shadow: inset 0 0 0 1px $border;
    nav {
      display: flex;
      gap: 50px;
      a {
        text-decoration: none;
      }
    }
  }
}

.header a img {
  display: block;
}

.burger {
  border: none;
  padding: 1rem;
  border-radius: 100%;
  background: var(--sky-2);
}

.menu {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff;
  padding: 2rem;
  nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  a {
    font-size: 1.5rem;
    text-decoration: none;
  }
}
