section.grid {
  background: #4f4fff;
  & > div {
    background: #4f4fff;
  }
}
.carousel {
  // padding: 0rem 1rem;
  box-sizing: border-box;
}

.card .picture {
  height: 450px;
  width: 100%;
  object-fit: contain;
  object-position: center;
  overflow: hidden;
}
.gridCollection {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
