.quickLink {
  background: var(--gray-3);
  border-radius: 0.5rem;
  text-decoration: none;
  .content {
    align-items: center;
    display: flex;
    padding: 1rem 1.5rem;
    gap: 1rem;
    div {
      span {
        display: block;
        font-size: 0.9em;
      }
      strong {
      }
    }
  }
}
.quickLink.pep {
  background: #2dabe2;
  * {
    color: white;
  }
}
.quickLink.pgp {
  background: #f9e74f;
}

.loaderSkeleton {
  background: #ebebeb;
  height: 82px;
  border-radius: 0.5rem;
}
