.share {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
  max-width: calc(700px + 3rem);
  font-size: 0.9rem;
  border: 1px solid var(--gray-3);
  border-width: 1px 0px 0 0;
  padding: 2rem 0;

  .links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    & > button {
      /* height: 28px;
      width: 28px; */
      cursor: pointer;
      background: none;
      border: none;
      /* opacity: 0.6; */
      /* background-color: #000000; */
      /* padding: 0; */
      /* color: white; */
      /* padding: 0.5rem 1rem; */
      /* border-radius: 0.2rem; */

      & > img {
        height: 24px;
        /* width: 22px; */
        opacity: 0.9;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.TooltipContent {
  background: black;
  color: white;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
}
