@use "@/styles/main.module.scss" as *;

// BANNER
.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
  overflow: hidden;
  border-radius: 0.5rem;
  background: #93dff6 url("/lio-amarillo.png") no-repeat center;
  background-size: 50%;
  background-position: 30% 00%;
  @include up("md") {
    padding: 0 2rem;
    background-size: 50%;
    background-position: 30% 20%;
  }
  .foto {
    object-fit: cover;
    object-position: top;
    width: 300px;
    max-height: 100px;
    @include up("md") {
      max-height: 130px;
    }
  }
  span {
    color: white;
    font-size: 1.4rem;
    font-family: var(--font-wix);
    line-height: 1.3rem;
  }
  .logo {
    height: 70px;
    display: none;
    @include up("lg") {
      display: block;
    }
  }
}
