.form {
  flex-direction: column;
  display: flex;
  label {
    display: contents;
    padding: 0.5rem;
  }
  input,
  textarea,
  button {
    padding: 1rem;
    accent-color: black;
  }
  .legal {
    display: flex;
    gap: 0.5em;
    user-select: none;
    cursor: pointer;
  }
}
